scripts/__pycache__/
quick.py
save
dots/eww/.config/eww/scripts/cache
other/backups
dots/ranger/.config/ranger/plugins/__pycache__
dots/eww/.config/eww.large
dots/eww/.config/eww.great
dots/eww/.config/eww.bakXXIao
dots/eww/.config/eww.bak
