scripts/__pycache__/
quick.py
save
dots/eww/.config/eww/scripts/cache
other/backups
dots/ranger/.config/ranger/plugins/__pycache__
dots/eww/.config/eww.large
dots/eww/.config/eww.great
dots/eww/.config/eww.bakXXIao
dots/eww/.config/eww.bak
dots/eww/.config/eww
dots/nvim/.config/nvim/lazy-lock.json
dots/btop/.config/btop/btop.log
dots/lazygit/.config/lazygit/state.yml
dots/nvim/.config/nvim_chad
dots/zsh/.config/zsh/.zcompdump-hezag-laptop-5.9
dots/zsh/.config/zsh/.zcompdump-hezag-laptop-5.9.zwc
